*,
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family:  sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0 3rem;
}

.empty-space {
  text-align: center;
  padding: 6rem;
  height: 500px;
}

.u-center-text {text-align: center;}

.u-margin-bottom-small {margin-bottom: 2rem;}
.u-margin-bottom-medium {margin-bottom: 4rem;}
.u-margin-bottom-big {margin-bottom: 8rem;}

.header {
  position: relative;
  height: 90vh;
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    rgba(220, 227, 91, .8),
    rgba(69, 182, 73, .8)),
    url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3e684a2ba58e985b993ccd3e26cb36d5&auto=format&fit=crop&w=1919&q=80);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.caption {
  position: absolute;
  width: 80%;
  height: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.caption .heading-main {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 2rem;
  margin-bottom: 2rem;
}

.caption .heading-sub {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1rem;
}

/*
================================================
                    O NAMA
================================================
*/

.about__heading {
  margin-top: 8rem;
  text-transform: uppercase;
  font-size: 2rem;
}

.about__content--1 {
  font-size: 1.6rem;
    background-color: #f1f1f1;
    overflow: hidden;
}

.about__content--1 img{
  float: left;
  margin-right: 3rem;
}

.about__content--2 {
  font-size: 1.6rem;
  background-color: #f1f1f1;
  overflow: hidden;
}

/* .about__content--2 img{
  float: right;
  margin-left: 3rem;
}

.about-card {
  margin: 0 auto;
  width: 60%;
  background-color: red;
  padding: 5rem;
  position: relative;
}

.about-card__fig {
  position: relative;
  width: 15rem;
  height: 15rem;
  background-color: yellow;
}

.about-card__fig:hover .about-card__fig--img {
  transform: scale(.8);
}


.about-card__fig--img {
  width: 100%;
  height: 100%;
  float: left;
  /* background: url(https://images.unsplash.com/photo-1525879000488-bff3b1c387cf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=79c830c4f066fc500b70e97f39cab4a7&auto=format&fit=crop&w=500&q=60);
  background: cover;
  background-position: center;
  -webkit-shape-outside: circle(50%);
  shape-outside: circle(50%);
  background-size: 80%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s;
}

.about-card__fig--caption {
  position: absolute;
  top: 50%;
  left: 3rem;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;

} */

/* .about-card__text {
  float: right;
  padding-left: 11rem;
} */

.about-card {
  padding: 3rem;
  background-color: #eee;
  width: 60%;
  height: 200px;
  margin: 5rem auto;
  transform: skewX(-12deg);
  box-shadow: 0 1.5rem 6rem rgba(0,0,0, 0.2);
}

.about-card:hover .about-card__fig--img {
  filter: blur(3px);
}

.about-card:hover .about-card__fig--caption {
  transform: translate(-53%, -50%) translateY(-35px);
  opacity: 1;
}

.about-card > * {
  transform: skewX(12deg);
}

.about-card__fig {
  width: 15rem;
  height: 15rem;
  position: relative;
  float: left;
  shape-outside: circle(50%);
  margin-right: 3rem;
}

.about-card__fig--img {
  width: 15rem;
  height: 15rem;
  background: url(https://images.unsplash.com/photo-1525879000488-bff3b1c387cf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=79c830c4f066fc500b70e97f39cab4a7&auto=format&fit=crop&w=500&q=60);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  transition: all .3s;
}



.about-card__fig--caption {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-53%, -50%);
  color: white;
  font-size: 1.6rem;
  opacity: 0;
  transition: all .3s;
  text-align: center;
}

.about-card__text--heading {
  font-size: 2rem;
  text-transform: uppercase;
}

.about-card__text--text {
  font-size: 1.6rem;
}
